
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width:100%;}
body {
	padding: 2em 0;
	margin: 0;
	font-family: '微软雅黑', sans-serif;
	background: linear-gradient(to left, #ff1031 50%, #3498db 50%);
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	letter-spacing:1px;
	font-size:15px;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
	letter-spacing:1px;
		
}
.clear{
	clear:both;
}
.row{
	margin:0px;
	padding:0px;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
img{
	width:100%;
}
/*-- //Reset-Code --*/

.error_main {
    width: 100%;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
    color: #333;
    text-align: center;
}
p {
	margin: 0;
	color:#777;
	letter-spacing:1px;
	line-height:1.8em;
	font-size:14px;
	font-weight:400;
    margin: 2em 0;
}
.error_content span.fa.fa-frown-o {
    font-size: 100px;
    color: #ffb310;
}
.error_content {
    padding: 5em 7em;
    background: #fff;
    width: 50%;
    margin: 0 auto;
}
#footer {
/*		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);*/
		bottom: 0;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 8em;
		position: absolute;
		text-align: center;
		width: 100%;
		font-size: 1.1em;
	}
#footer a{
    color: black;
    border-bottom: dotted 1px;
}
form {
    width: 40%;
}


a.b-home {
    background: #3598db;
    padding: 1em 1.5em;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 0.9em;
	margin-top: 2em;
}
a.b-home:hover {
    background: #ffb310;
}
/** Responsive **/
@media screen and (max-width: 1440px){
	.error_content {
		padding: 5em 6em;
		width: 52%;
	}
}
@media screen and (max-width: 1366px){
	.error_content {
		padding: 4em 6em;
		width: 55%;
	}
}
@media screen and (max-width: 1280px){
	.error_content {
		padding: 4em 6em;
		width: 60%;
	}
	.error_content span.fa.fa-frown-o {
		font-size: 90px;
	}
}
@media screen and (max-width: 1080px){
	.error_content {
		padding: 4em 4em;
		width: 70%;
	}
	h1 {
		font-size: 45px;
		letter-spacing: 3px;
	}
}
@media screen and (max-width: 1024px){
	.error_content {
		padding: 4em 3em;
		width: 72%;
	}
	h2 {
		font-size: 28px;
	}
}
@media screen and (max-width: 991px){
	.error_content {
		padding: 4em 3em;
		width: 75%;
	}
	p {
		margin: 1.5em 0;
	}
}
@media screen and (max-width: 900px){
	p {
		letter-spacing: .5px;
	}
	form {
		width: 50%;
	}
}
@media screen and (max-width: 800px){
	form {
		width: 60%;
	}
}
@media screen and (max-width: 768px){
	h1 {
		font-size: 40px;
		letter-spacing: 2px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 26px;
	}
	.error_content span.fa.fa-frown-o {
		font-size: 80px;
	}
}
@media screen and (max-width: 640px){
	.footer p {
		letter-spacing: 1px;
	}
	.error_content {
		padding: 3em 3em;
	}
}
@media screen and (max-width: 480px){
	form {
		width: 70%;
	}
	h1 {
		font-size: 35px;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 24px;
	}
	.error_content span.fa.fa-frown-o {
		font-size: 70px;
	}
	a.b-home {
		padding: .8em 1.5em;
	}
	.footer p {
		letter-spacing: 1px;
		font-size: 14px;
	}
}
@media screen and (max-width: 414px){
	.error_content {
		padding: 2em 2em;
	}
	h2 {
		font-size: 22px;
	}
	form {
		width: 80%;
	}
}
@media screen and (max-width: 384px){
	h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 375px){
	p {
		letter-spacing: 0px;
	}
}
@media screen and (max-width: 320px){
	h2 {
		font-size: 19px;
		letter-spacing: 0px;
	}
	form {
		width: 100%;
	}
}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1366px){

}


